.stat-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    height: 100%;
    font-size: 0.5rem;
}

.stat-parent {
    background: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: black;
    -ms-grid-row-span: 1;
    -ms-grid-column-span: 3;
    z-index: 3;
}

.stat-mod,
.stat-score {
    display: flex;
    justify-content: center;
    align-items: center;
}