.stat-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.stat-section-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.stat-section-parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    background: orange;
    padding: 0.5em;
    margin: 0.5em;
    width: 90%;
    height: fit-content;
    font-size: 0.5em;
}

.stat-section-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.stat-section-value {
    height: 80%;
}