.ac-container {
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 0.5em;
    width: 5em;
}

.ac-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}