.name-class-species-grid {
    display: grid;
    background: white;
    grid-template-columns: auto auto;
    font-size: 0.5em;
    height: 100%;
    padding: 1em;
}

.name-class-species-main,
.name-class-species-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.name-class-species-main {
    grid-column: 1 / span 2;
}