.lvl-xp-container {
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 0.5rem;
    width: 5rem;
}

.lvl-heading,
.xp-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}