#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 0.8rem;
}

@media (max-width: 1279px) {
  #root {
    font-size: 0.5rem;
  }
}

@media (max-width: 920px) {
  #root {
    font-size: 0.4rem;
  }
}

@media (max-width: 800px) {
  /* change to inner tabbed view */
}

.app-container {
  position: relative;
  background: rgb(91, 91, 91);
  border: 1px solid white;
  border-radius: 1rem;
  padding: 2.5rem;
}