.single-stat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    background: orange;
    padding: 0.5em;
    width: 90%;
    height: 100%;
    font-size: 0.5em;
}

.single-stat-parent {
    font-weight: bold;
}

.single-stat-label {
    margin: 0;
    padding: 0.25em;
    height: 1.5em;
    font-size: 2em;
}

.single-stat-value {
    height: 80%;
}